/* CSS Document */
.button1 input {
    font-size: auto;
    height: 25px;
    width: 50px;
    border: solid 1px #c3c3c3;
    margin-top: 20px;
    padding: 0px 0px 1px 1px;
}

.button1 input:hover {
    height: 30px;
    width: 60px;
    font-size: 25px;
    border: solid 1px blue;
    padding: 0px 0px 1px 1px;
    background-color: #000000;
    color: rgb(255, 255, 255);
}